<div class="container-fluid">
  <div class="row-fluid">
    <!-- SIDE BAR -->
    <div class="span2" id="sidebar" >
      <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse" style="margin-top: 0px">
        <li class="active">
          <a href="index.html"><i class="icon-chevron-right"></i> Reservas</a>
        </li>
        <li>
          <a href="calendar.html"><i class="icon-chevron-right"></i> Disponibilidad</a>
        </li>
        <li>
          <a href="#/reservations"><i class="icon-chevron-right"></i> Busqueda</a>
        </li>
        <li>
          <a href="form.html"><i class="icon-chevron-right"></i> Nueva</a>
        </li>
        <li>
          <a href="tables.html"><i class="icon-chevron-right"></i> Nueva: individual</a>
        </li>
        <li>
          <a href="buttons.html"><i class="icon-chevron-right"></i> Nueva: grupal </a>
        </li>
        <li>
          <a href="editors.html"><i class="icon-chevron-right"></i> check In</a>
        </li>
        <li>
          <a href="interface.html"><i class="icon-chevron-right"></i> Check Out</a>
        </li>
        <li>
          <a href="#"><span class="badge badge-success pull-right">731</span> Orders</a>
        </li>
        <li>
          <a href="#"><span class="badge badge-success pull-right">812</span> Invoices</a>
        </li>
        <li>
          <a href="#"><span class="badge badge-info pull-right">27</span> Clients</a>
        </li>
        <li>
          <a href="#"><span class="badge badge-info pull-right">1,234</span> Users</a>
        </li>
        <li>
          <a href="#"><span class="badge badge-info pull-right">2,221</span> Messages</a>
        </li>
        <li>
          <a href="#"><span class="badge badge-info pull-right">11</span> Reports</a>
        </li>
        <li>
          <a href="#"><span class="badge badge-important pull-right">83</span> Errors</a>
        </li>
        <li>
          <a href="#"><span class="badge badge-warning pull-right">4,231</span> Logs</a>
        </li>
      </ul>
    </div>
    <!-- END of SIDE BAR -->
    <div class="span10" id="content">
      <div class="row-fluid">
      </div>
      <div class="row-fluid">
        <!-- block -->
        <div class="block">
          <div class="navbar navbar-inner block-header">
            <div class="muted pull-left">Listado de Reservas</div>
            <div class="pull-right"><span class="badge badge-info">3 reservas</span>

            </div>
          </div>
          <div class="block-content collapse in">
            <form class="form-inline well">
              Buscar <input type="text" class="input-large" placeholder="# Reserva, nombre huesped o fecha de check in">
              <button type="submit" class="btn">Buscar</button><a href="#" class="btn btn-link">Mas opciones</a>
            </form>

            <table class="table table-condensed table-striped">
              <thead>
                <tr>
                  <th># Reserva</th>
                  <th>Huesped Titular</th>
                  <th></th>
                  <th>Check In</th>
                  <th>Check Out</th>
                  <th>Habitacion</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <th></th>
                  <td>Nov 18</td>
                  <td>Nov 20</td>
                  <td>101</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td><span class="label label-success">In House</span></td>
                  <td>Nov 17</td>
                  <td>Nov 17</td>
                  <td>102</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Vincent</td>
                  <td><span class="label label-warning">Delayed</span></td>
                  <td>Nov 16</td>
                  <td>Nov 14</td>
                  <td>201</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /block -->
      </div>
    </div>
  </div>
</div>
<script src="lib/bootstrap-Admin-Theme/assets/DT_bootstrap.js"></script>